node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
data/computer-info.json
data/server-info.json

# macOS
.DS_Store


#natives
ios/*
andriod/*